certifi==2022.12.7
charset-normalizer==3.0.1
DateTime==5.0
direct-redis==0.3.1
idna==3.4
numpy==1.24.1
pandas==1.5.2
prismacloud-api==5.0.13
psycopg2-binary==2.9.5
python-dateutil==2.8.2
pytz==2022.7.1
redis==3.4.1
requests==2.28.2
six==1.16.0
update-checker==0.18.0
urllib3==1.26.14
zope.interface==5.5.2
